# Backend System Code Owners
/.*                                 @AirAwareLabs/AirAware-BackEnd
/AirAware/Controllers/*             @AirAwareLabs/AirAware-BackEnd
/AirAware/Data/*                    @AirAwareLabs/AirAware-BackEnd
/AirAware/Models/*                  @AirAwareLabs/AirAware-BackEnd
